<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492117554646-7aho6jk5iime7gi82p8oo79ptvlci82j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492117554646-7aho6jk5iime7gi82p8oo79ptvlci82j</string>
	<key>API_KEY</key>
	<string>AIzaSyABkdtxvmh_cHZ--vV1sk-rym1zPxaK0Mo</string>
	<key>GCM_SENDER_ID</key>
	<string>492117554646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ddd.flying-sushi</string>
	<key>PROJECT_ID</key>
	<string>flying-sushi-7487d</string>
	<key>STORAGE_BUCKET</key>
	<string>flying-sushi-7487d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492117554646:ios:b4cdcdd0e2419b3932e077</string>
	<key>DATABASE_URL</key>
	<string>https://flying-sushi-7487d.firebaseio.com</string>
</dict>
</plist>